@import "~bootstrap/scss/bootstrap";

@font-face 
{
    font-family: "RobotoSlap";
    src: url('../fonts/RobotoSlab.ttf')  format('truetype'),/* TTF */
}

$font-stack: 'Roboto', Arial, Helvetica, sans-serif;
$house-color: #F60;
$primary-color: #333;
$white-color: #FFF;
$body-background-color: #e6e5e2;
$dark-background-color: #000;
$media-large: 1620px;
$media-medium: 1020px;
$media-small: 520px;
$border-medium: 400px;
$theme-colors: (primary: $house-color, secondary: $gray-600, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);

$header-balken-height: 18rem;
$view-height: 80vh;
$view-width: 100vw;


body {
    background-color: none;
    
    .container-fluid {
        
        .slider-header {
            position: relative;


        }
    }
}

.navigation {
    width: 100vw;
    position: fixed;
    z-index: 500;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: white;
    .nav-link {
        color: white;
    }

    .nav-link.active {
        color: white;
    }

}

ul.dropdown-menu.show {
    background-color: rgba(0,0,0,0.6);
    color: #FFFFFF;
}

a.dropdown-item {
    color: #FFFFFF;
}

.carousel-item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.header-balken {
    font-family: "RobotoSlap", Arial, Helvetica, sans-serif;
    position: absolute;
    padding: 3rem 0;
    top:0;
    left: 0;
    margin-top: calc( (100vh - $header-balken-height)/2);
    color: white;
    font-size: 6rem;
    line-height: 1.0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: 100%;
    z-index: 50;
    .col-4 {
        padding-top: 2.0rem;
        @media screen and (max-width: calc($media-medium)) {
            padding-top: 0.35rem;
        }
    }
}

